<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127395072-1"></script> -->
    <script>
        // window.dataLayer = window.dataLayer || [];
        // function gtag() { dataLayer.push(arguments); }
        // gtag('js', new Date());

        // gtag('config', 'UA-127395072-1');
    </script>

    <script src="cw.js?v=1"></script>
    <script src="array.js?v=1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css?v=1">

</head>

<body>

    <div id="app">
        <div class="pull-left">
            <table>
                <tr>
                    <td class="text-right">WPM:</td>
                    <td>
                        <select v-model="wpm">
                            <option v-for="w in wpmOptions">{{w}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button v-on:click="start()" class="button">{{ running ? 'Stop': 'Start'}}</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="pull-left">
            {{keyPressed}}
            {{delay}}
        </div>
    </div>

    <script>


        var model = new Vue({
            el: "#app",
            data: {
                words: [],
                pool: [],
                played: [],
                running: false,
                wpmOptions: range(31, 10),
                speedOptions: range(10, 0),
                speed: 1,
                wpm: 30,
                currentLetter: null,
                keyPressed: null,
                time: 0,
                lastCharTime: 0,
                delay: 0
            },
            mounted() {
                window.addEventListener("keypress", function (e) {
                    this.keyPressed = String.fromCharCode(e.keyCode);

                    if(this.keyPressed === this.currentLetter){
                        this.time = this.player.getTime();
                        this.delay = this.time - this.lastCharTime;
                        this.next();
                    }
                    else{
                        this.next(this.currentLetter);
                    }
                }.bind(this));
            },
            methods: {
                select: function (item) {
                    if (this.countdown) return;
                    item.selected = !item.selected;
                },
                score: function (event) {
                    event.preventDefault();
                },
                start: function () {
                    this.running = !this.running;

                    if (this.running) {
                        this.player = new Player(this.wpm, this.wpm, false);
                        this.pool = alphanumeric;
                        //shuffle(this.pool);
                        this.next();
                    } else {
                        window.clearInterval(this.playedInterval);
                        this.playedInterval = 0;
                        this.player.stop();
                    }
                },
                next: function (charToPlay) {
                    if (!this.running) return;
                    var self = this;


                    if(!charToPlay){
                        if (!this.pool.length) {
                            this.needToScore = true;
                            this.start();
                        }
                        var index = Math.floor(Math.random() * this.pool.length);

                        this.currentLetter = this.pool[index];
                        this.pool.splice(index, 1);
                    }

                    this.player.queueLetter(this.currentLetter, 600);

                    this.player.start(function (letter, time) {
                        self.lastCharTime = time;
                     }, function () {
                        // if (self.running) {
                        //     var speed = self.speed * 1000 || 180;
                        //     this.playedInterval = setTimeout(self.next, speed);
                        // }
                    });
                },
            }
        });
    </script>

</body>

</html>