<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127395072-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-127395072-1');
    </script>

    <script src="cw.js?v=1"></script>
    <script src="array.js?v=1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css?v=1">

</head>

<body>

    <div id="app">
        <div id="stats">
            Wins: {{numWins}}
            Losses: {{numLosses}}
        </div>
        <div class="pull-left">
            <table>
                <tr>
                    <td class="text-right">WPM:</td>
                    <td>
                        <select v-model="wpm">
                            <option v-for="w in wpmOptions">{{w}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right"> Interval:</td>
                    <td>
                        <select v-model="speed">
                            <option v-for="s in speedOptions">{{s}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Repeat:
                    </td>
                    <td>
                        <select v-model="repeat">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Type:
                    </td>
                    <td>
                        <select v-model="gameType">
                            <option value="Letters">Letters</option>
                            <option value="Words">Words</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Alphabetical:
                    </td>
                    <td>
                        <select v-model="gameSorted">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button v-on:click="start()" class="button">{{ running ? 'Stop': 'Start'}}</button>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
        </div>
        <div class="pull-left game">

             <div v-show="running">{{this.pool.length}} Remaining</div>
            <div v-if="(!win && needToScore && countdown)">NO WINNERS! Waiting for {{countdown}}</div>
            <div class="square" v-for="(item, index) in words" v-on:click="select(item)" v-bind:class="{'clicked': item.selected, 'show': item.called && !running} ">
                {{item.word}}
            </div>

            <button v-on:click="score($event)" v-show="running" class="button" style="width: 400px;">BINGO!</button>
        </div>
    </div>
   
    <script>
        var winners = [
            [0, 1, 2, 3, 4],
            [5, 6, 7, 8, 9],
            [10, 11, 12, 13, 14],
            [15, 16, 17, 18, 19],
            [20, 21, 22, 23, 24],

            [0, 5, 10, 15, 20],
            [1, 6, 11, 16, 21],
            [2, 7, 12, 17, 22],
            [3, 8, 13, 18, 23],
            [4, 9, 14, 19, 24],

            [0, 6, 12, 18, 24],
            [4, 5, 12, 16, 20],
        ]

        var model = new Vue({
            el: "#app",
            data: {
                words: [],
                //selected: [],
                pool: [],
                played: [],
                playedTimes: 0,
                //show: false,
                win: false,
                //interval: 0,
                playInterval: 0,
                repeat: 0,
                gameType: "Words",
                gameSorted: "Y",
                running: false,
                needToScore: false,
                player: null,
                wpmOptions: range(31, 10),
                speedOptions: range(10, 0),
                speed: 1,
                wpm: 30,
                userWinners: [],
                numWins: 0,
                numLosses: 0,
                countdown: 0
            },
            methods: {
                select: function (item) {
                    if (this.countdown) return;
                    item.selected = !item.selected;
                },
                score: function (event) {
                    event.preventDefault();
                    this.needToScore = true;

                    var selected = this.words.filter(function (x) {
                        return x.selected;
                    });


                    var indexes = Object.values(selected.map(function (x) {
                        return x.index;
                    }));

                    for (var i = 0; i < winners.length; i++) {

                        if (winners[i].filter(function (x) {
                            return -1 !== indexes.indexOf(x)
                        }).length === 5) {
                            this.userWinners.push(winners[i]);
                            //this.win = true;
                        }
                    }
                    if (this.userWinners.length > 0) {
                        this.win = true;
                        this.numWins++;
                        this.start();
                        alert("WINNER!");
                    } else {
                        //No winners here.  
                        this.countdown = 5;

                        var wait = setInterval(function (x) {
                            if (--this.countdown <= 0) {
                                clearInterval(wait);
                            }

                        }.bind(this), 1000);
                        this.numLoses++;
                    }

                },

                start: function () {
                    this.running = !this.running;

                    if (this.running) {
                        this.userWinners = [];
                        this.needToScore = false;

                        this.pool = commonQso.slice(0, 75);
                        var items = commonQso.slice(0, 75);

                        if(this.gameType === "Letters"){
                            this.pool = alphanumeric;
                            items = alphanumeric;

                        }

                        shuffle(items);

                        items = items.slice(0, 25);

                        if(this.gameSorted === "Y"){
                            items.sort();
                        }

                        this.words = items
                            .map(function (x, i) {
                                return {
                                    word: x,
                                    index: i,
                                    selected: false,
                                    called: false
                                }
                            });
                        this.words[12] = {
                            word: "FREE",
                            index: 12,
                            selected: true,
                            called: true
                        };
                        this.next();
                    } else {
                        window.clearInterval(this.playedInterval);
                        this.playedInterval = 0;
                        this.player.stop();
                    }
                },
                next: function () {
                    if (!this.running) return;
                    var self = this;

                    if (!this.playedInterval) {
                        this.playedTimes = 0;
                    }

                    if (!this.pool.length) {
                        this.numLosses++;
                        this.win = false;
                        this.needToScore = true;
                        this.start();
                    }
                    var index = Math.floor(Math.random() * this.pool.length);

                    var nextWord = this.pool[index];
                    this.pool.splice(index, 1);

                    var repeated = 0;
                    this.player = new Player(this.wpm, this.wpm, false);


                    for (var i = 0; i <= this.repeat; i++) {
                        this.player.queueWord(nextWord);
                        this.player.queueWord(" ");
                        this.player.queueWord(" ");
                    }

                    this.player.start(function (x) { }, function () {
                        if (self.running) {
                            var speed = self.speed * 1000 || 180;
                            this.playedInterval = setTimeout(self.next, speed);
                        }
                    });

                    var found = this.words.filter(function (x) {
                        return x.word === nextWord
                    });

                    if (found.length) {
                        found[0].called = true;
                        this.$set(this.words, found[0].index, found[0]);
                    }
                }
            },


        });
    </script>
     
</body>

</html>