body{
    margin: 0;
    padding: 0;
           background-color: #fffeef; /*#20262e;*/
         
            font-family: Arial, Helvetica, sans-serif;
}
       #app {
            width: 100%;
        }

        #header {
            width: 100%;
        }

        #footer {
            width: 100%;
            clear: both;
            text-align: center;
        }

        .left-nav {
            width: 275px;
        }

        .game {
            width: 450px;
            margin-left: 50px;
        }

        .square {
            border: 1px solid #aaa;
            float: left;
            width: 16%;
            cursor: pointer;
            height: 70px;
            text-align: center;
            vertical-align: middle;
            background-color: #fff;
            color: #444;
            margin: 3px;
            display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;
        }

        .clicked {
            background-color: #888;
        }

        .show {
            background-color: green;
        }

        .wrong {
            background-color: red;
        }

        .missed {
            background-color: yellow;
        }

        .pull-right {
            float: right;
        }

        .pull-left {
            float: left;
        }
        .text-right{
            text-align: right;
        }
        .button {
            background-color: #1387fb; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        #stats{
            background: #444;
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
            color: #fff;
        }